# Import Data and Library

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Summer22_FootballTransfers.csv to Summer22_FootballTransfers.csv

In [ ]:
df = pd.read_csv('Summer22_FootballTransfers.csv')

#Understanding Data

In [ ]:
df.head()

,name,position,age,origin_club,league_origin_club,country_origin_club,new_club,league_new_club,country_new_club,player_valuje,cost,date_of_transfer
0,Amine Gouiri,Centre-Forward,22.0,OGC Nice,Ligue 1,France,Stade Rennais FC,Ligue 1,France,€42.00m,€28.00m,2022-09-01
1,Umar Sadiq,Centre-Forward,25.0,UD Almería,LaLiga,Spain,Real Sociedad,LaLiga,Spain,€18.00m,€20.00m,2022-09-01
2,Carlos Soler,Central Midfield,25.0,Valencia CF,LaLiga,Spain,Paris Saint-Germain,Ligue 1,France,€50.00m,€18.00m,2022-09-01
3,Manuel Akanji,Centre-Back,27.0,Borussia Dortmund,Bundesliga,Germany,Manchester City,Premier League,England,€30.00m,€17.50m,2022-09-01
4,Wout Faes,Centre-Back,24.0,Stade Reims,Ligue 1,France,Leicester City,Premier League,England,€10.00m,€17.00m,2022-09-01

In [ ]:
df.tail()

,name,position,age,origin_club,league_origin_club,country_origin_club,new_club,league_new_club,country_new_club,player_valuje,cost,date_of_transfer
33820,Kristiyan Kirilov,midfield,17.0,Strumska Slava U19,Bulgaria,Bulgaria,Without Club,NaN,NaN,€10Th.,-,2022-07-01
33821,Bernard Zrilic,Goalkeeper,17.0,GNK Dinamo Zagreb U17,Croatia,Croatia,GNK Dinamo Zagreb U19,Prva HNL - Juniori,Croatia,€10Th.,-,2022-07-01
33822,Danil Andriyanov,Goalkeeper,18.0,Zenit Izhevsk,2 League Group 4,Russia,Without Club,NaN,NaN,€10Th.,-,2022-07-01
33823,Alexandru Crap,Left-Back,NaN,ACS Foresta Suceava,Romania,Romania,Without Club,NaN,NaN,€10Th.,-,2022-07-01
33824,Cosmin Ciubotariu,Left Winger,19.0,CSC Dumbravita,Liga 2,Romania,Without Club,NaN,NaN,€10Th.,-,2022-07-01

In [ ]:
df.shape

(19139, 18)

In [ ]:
df.describe()

                age
count  33674.000000
mean      25.004603
std        4.788442
min       15.000000
25%       21.000000
50%       24.000000
75%       28.000000
max       46.000000

In [ ]:
df.columns

Index(['name', 'position', 'age', 'origin_club', 'league_origin_club',
       'country_origin_club', 'new_club', 'league_new_club',
       'country_new_club', 'player_valuje', 'cost', 'date_of_transfer'],
      dtype='object')

In [ ]:
df.dtypes

name                    object
position                object
age                    float64
origin_club             object
league_origin_club      object
country_origin_club     object
new_club                object
league_new_club         object
country_new_club        object
player_valuje           object
cost                    object
date_of_transfer        object
dtype: object

# Transfrom Data


*  Convert dtype 'age' to int
*  Convert dtype 'cost' to float
*  Convert dtype 'date_of_transfer' to datetime
*  Delete non-numerical data in 'cost'
*  Replace string to related numerical data in 'cost'
*  Find Missing Data

In [ ]:
df['date_of_transfer'] = pd.to_datetime(df['date_of_transfer'], format='%Y-%m-%d') #converting 'date_of_transfer' from object into datetime

In [ ]:
df['age'] = df['age'].astype(int) #converting 'age' from object into int

In [ ]:
df=df[df["cost"].str.contains("Loan fee")==False]
df=df[df["cost"].str.contains("-")==False]
df=df[df["cost"].str.contains("\?")==False]
df=df[df["cost"].str.contains("loan transfer")==False]
df=df[df["cost"].str.contains("draft")==False]

df["cost"]=df["cost"].str.replace("free transfer","0")
df["cost"]=df["cost"].str.replace("Th.","000")
df["cost"]=df["cost"].str.replace("m","0000")
df["cost"]=df["cost"].str.replace(".","")
df["cost"]=df["cost"].str.replace("€","")

df["cost"]=df["cost"].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  # Remove the CWD from sys.path while we load stuff.

In [ ]:
df.head(20)

,name,position,age,origin_club,league_origin_club,country_origin_club,new_club,league_new_club,country_new_club,player_valuje,cost,date_of_transfer
0,Amine Gouiri,Centre-Forward,22,OGC Nice,Ligue 1,France,Stade Rennais FC,Ligue 1,France,€42.00m,28000000,2022-09-01
1,Umar Sadiq,Centre-Forward,25,UD Almería,LaLiga,Spain,Real Sociedad,LaLiga,Spain,€18.00m,20000000,2022-09-01
2,Carlos Soler,Central Midfield,25,Valencia CF,LaLiga,Spain,Paris Saint-Germain,Ligue 1,France,€50.00m,18000000,2022-09-01
3,Manuel Akanji,Centre-Back,27,Borussia Dortmund,Bundesliga,Germany,Manchester City,Premier League,England,€30.00m,17500000,2022-09-01
4,Wout Faes,Centre-Back,24,Stade Reims,Ligue 1,France,Leicester City,Premier League,England,€10.00m,17000000,2022-09-01
5,Leander Dendoncker,Defensive Midfield,27,Wolverhampton Wanderers,Premier League,England,Aston Villa,Premier League,England,€28.00m,15000000,2022-09-01
6,Gaëtan Laborde,Centre-Forward,28,Stade Rennais FC,Ligue 1,France,OGC Nice,Ligue 1,France,€18.00m,15000000,2022-09-01
7,Pierre-Emerick Aubameyang,Centre-Forward,33,FC Barcelona,LaLiga,Spain,Chelsea FC,Premier League,England,€15.00m,12000000,2022-09-01
8,Jörgen Strand Larsen,Centre-Forward,22,FC Groningen,Eredivisie,Netherlands,Celta de Vigo,LaLiga,Spain,€6.00m,11000000,2022-09-01
9,Billy Gilmour,Central Midfield,21,Chelsea FC,Premier League,England,Brighton & Hove Albion,Premier League,England,€12.00m,10400000,2022-09-01
10,James Garner,Defensive Midfield,21,Manchester United U21,Premier League 2,England,Everton FC,Premier League,England,€7.00m,10400000,2022-09-01
11,Duje Caleta-Car,Centre-Back,25,Olympique Marseille,Ligue 1,France,Southampton FC,Premier League,England,€16.00m,10000000,2022-09-01
12,El Bilal Touré,Centre-Forward,20,Stade Reims,Ligue 1,France,UD Almería,LaLiga,Spain,€6.50m,10000000,2022-09-01
13,Christopher Wooh,Centre-Back,20,RC Lens,Ligue 1,France,Stade Rennais FC,Ligue 1,France,€3.00m,9000000,2022-09-01
14,Lázaro,Left Winger,20,Clube de Regatas do Flamengo,Série A,Brazil,UD Almería,LaLiga,Spain,€7.00m,7000000,2022-09-01
15,Pep Biel,Attacking Midfield,25,FC Copenhagen,Superligaen,Denmark,Olympiacos Piraeus,Super League 1,Greece,€6.00m,6000000,2022-09-01
16,Johan Mojica,Left-Back,30,Elche CF,LaLiga,Spain,Villarreal CF,LaLiga,Spain,€5.00m,5500000,2022-09-01
17,Carlos Vinícius,Centre-Forward,27,SL Benfica,Liga Portugal,Portugal,Fulham FC,Premier League,England,€8.00m,5000000,2022-09-01
19,Wilfried Gnonto,Second Striker,18,FC Zürich,Super League,Switzerland,Leeds United,Premier League,England,€10.00m,4500000,2022-09-01
20,Ignatius Ganago,Centre-Forward,23,RC Lens,Ligue 1,France,FC Nantes,Ligue 1,France,€5.00m,4400000,2022-09-01

In [ ]:
#Find missing Data
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis = 1, keys=['Total','Percent'])
missing_data.head(20)

                     Total   Percent
league_new_club        168  0.008778
country_new_club       168  0.008778
league_origin_club     150  0.007837
country_origin_club    150  0.007837
position                 1  0.000052
name                     0  0.000000
age                      0  0.000000
origin_club              0  0.000000
new_club                 0  0.000000
player_valuje            0  0.000000
cost                     0  0.000000
date_of_transfer         0  0.000000

In [ ]:
df['position'].fillna('Unknown', inplace=True)

In [ ]:
# Handling missing values 
for col_name in list(['league_new_club','country_new_club','league_origin_club','country_origin_club']):
     df[col_name].fillna('Free Transfer', inplace=True)

In [ ]:
df.head()

,name,position,age,origin_club,league_origin_club,country_origin_club,new_club,league_new_club,country_new_club,player_valuje,cost,date_of_transfer
0,Amine Gouiri,Centre-Forward,22,OGC Nice,Ligue 1,France,Stade Rennais FC,Ligue 1,France,€42.00m,28000000,2022-09-01
1,Umar Sadiq,Centre-Forward,25,UD Almería,LaLiga,Spain,Real Sociedad,LaLiga,Spain,€18.00m,20000000,2022-09-01
2,Carlos Soler,Central Midfield,25,Valencia CF,LaLiga,Spain,Paris Saint-Germain,Ligue 1,France,€50.00m,18000000,2022-09-01
3,Manuel Akanji,Centre-Back,27,Borussia Dortmund,Bundesliga,Germany,Manchester City,Premier League,England,€30.00m,17500000,2022-09-01
4,Wout Faes,Centre-Back,24,Stade Reims,Ligue 1,France,Leicester City,Premier League,England,€10.00m,17000000,2022-09-01

In [ ]:
# handling missing values Age fill with mean
df['age'].fillna(df['age'].mean(), inplace=True)

In [ ]:
#Find missing Data
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis = 1, keys=['Total','Percent'])
missing_data.head(20)

                     Total  Percent
name                     0      0.0
position                 0      0.0
age                      0      0.0
origin_club              0      0.0
league_origin_club       0      0.0
country_origin_club      0      0.0
new_club                 0      0.0
league_new_club          0      0.0
country_new_club         0      0.0
player_valuje            0      0.0
cost                     0      0.0
date_of_transfer         0      0.0

# Add Long Lat for Country

In [ ]:
coord=pd.read_html("https://developers.google.com/public-data/docs/canonical/countries_csv")[0]
new_count = [{'country': 'EN', 'latitude': 52.3555177, 'longitude': -1.1743197,'name':'England'},
             {'country': 'W', 'latitude': 53.3406, 'longitude': -1.2816,'name':'Wales'},
             {'country': 'H', 'latitude': 22.396428, 'longitude': 114.109497,'name':'Hongkong'},
             {'country': 'BH', 'latitude': 43.856430, 'longitude': 18.413029,'name':'Bosnia-Herzegovina'},
             {'country': 'NM', 'latitude': 41.6086, 'longitude': 41.6086,'name':'North Macedonia'},
             {'country': 'NI', 'latitude': 54.607868, 'longitude': -5.926437,'name':'Northern Ireland'},
             {'country': 'PA', 'latitude': 31.952162, 'longitude': 35.233154,'name':'Palästina'},
             {'country': 'CI', 'latitude': 7.539989, 'longitude': -5.547080,'name':"Cote d'Ivoire"},
             {'country': 'TG', 'latitude': 13.598878, 'longitude': -14.947733,'name':'The Gambia'},
             {'country': 'CT', 'latitude': 25.105497, 'longitude': 121.597366,'name':'Chinese Taipei'},
             {'country': 'MY', 'latitude': 16.871311, 'longitude': 96.199379,'name':'Myanmar'},
             {'country': 'CO', 'latitude': -4.322447, 'longitude': 15.307045,'name':'Congo'},
             {'country': 'ES', 'latitude': -26.522503, 'longitude': 31.465866,'name':'Eswatini'},
             {'country': 'NK', 'latitude': -22.275801, 'longitude': 166.457993,'name':'Neukaledonien'},
             {'country': 'CT', 'latitude': 23.697810, 'longitude': 120.960515,'name':'Chinese Taipei (Taiwan)'},
             {'country': 'SC', 'latitude': 56.0000, 'longitude': -4,'name':'Scotland'},
             {'country': 'DRC', 'latitude':-4.322447, 'longitude': 15.307045,'name':'DR Congo'},
             {'country': 'BO', 'latitude': -24.653257, 'longitude': 25.906792,'name':'Botsuana'},
             {'country': 'KS', 'latitude': 35.9078, 'longitude': 127.7669,'name':'Korea, South'}]
             
coord = pd.concat([coord,pd.DataFrame(new_count)])
coord_from=coord.rename(columns={"name": "from", "longitude": "longitude_from","latitude":"latitude_from"}).drop(['country'], axis=1)
coord_to=coord.rename(columns={"name": "to", "longitude": "longitude_to","latitude":"latitude_to"}).drop(['country'], axis=1)

In [ ]:
df=df.merge(coord_to, left_on='country_new_club',right_on='to', how='left')
df=df.merge(coord_from, left_on='country_origin_club',right_on='from', how='left')

# Export Cleaned Data to CSV format

In [ ]:
df.to_csv(r'cleaned_football_tf_2022.csv', index = None, header=True,encoding='utf-8')